//basic layout styles, full screen width, full screen height
.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 2;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  h1,
  div {
    opacity: 0;
    transform: translateY(-40px);

    @media (max-width: 768px) {
      transform: translateY(40px);
    }
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 8px;
    }
  }
  h1 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  p {
    font-size: 0.8rem;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 200px;
    color: black;
    @media (max-width: 768px) {
      width: auto;
    }
  }
}
