//basic layout styles, full screen width, full screen height
.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 0;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 1rem;
  h1,
  div {
    opacity: 0;
    transform: translateY(-40px);
  }
  h1 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  p {
    font-size: 0.8rem;
  }
}
